@import "tailwindcss";

body{
    color: white;
    background-color: black;
}

.livic{
    font-family: 'Livvic', sans-serif;
}

.text-yellow{
    color: #FFB400;
}
.bg-yellow{
    background-color: #FFB400;
}
.nav-cursor{
    border-radius: 0 0 25% 25%;
}

/* Add this globally or in your CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scrollbar-thumb {
  transition: left 0.2s ease;
}