@import "tailwindcss";

body{
    color: white;
    background-color: black;
}

.livic{
    font-family: 'Livvic', sans-serif;
}

.text-yellow{
    color: #FFB400;
}
.text-lightgray{
  color: #FFFFFFB3;
}
.text-gray{
  color: #222222;
}
.bg-yellow{
    background-color: #FFB400;
}
.bg-primary{
    background-color: #0B0B0B;
}
.bg-gray{
  background-color: #222222;
}
.bg-lightgray{
  background-color: #FFFFFFB3;
}
.nav-cursor{
    border-radius: 0 0 25% 25%;
}

/* Add this globally or in your CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scrollbar-thumb {
  transition: left 0.2s ease;
}
* {
  scroll-behavior: smooth !important;
}
.bottom-box{
  opacity: 0.1;
  transform: translateY(+150px) scale(0.9);
}
.top-box{
  opacity: 0.1;
  transform: translateY(-150px) scale(0.9);
}
.right-box{
  opacity: 0.1;
  position: relative;
  left: 200px;
  /* transform: translateX(100px) scale(0.9); */
}
.in-view{
  opacity: 1;
  transform: translateX(0px) scale(1);
  transition-duration:500ms;
  left: 0;
  /* transition-property: transform, opacity; */
  transition-timing-function: linear;
}